In [72]:
import pandas as pd
import numpy as np
import env
import os
from pydataset import data

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data('iris')
df_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

a. print the first 3 rows

In [73]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [75]:
df_iris.rename(columns = {'Sepal.Length':'sepal_length','Sepal.Width':'sepal_width','Petal.Length':'petal_length','Petal.Width':'petal_width','Species':'species'}, inplace=True)
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

b. print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

c. print the column names

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

d. print the data type of each column

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

e. print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [9]:
df_excel = pd.read_excel('Excel_Exercises.xlsx')
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,Unnamed: 12,Unnamed: 13
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,NaN,NaN
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,NaN,NaN
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,NaN,NaN
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,NaN,NaN
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,NaN,NaN

a. assign the first 100 rows to a new dataframe, df_excel_sample

In [12]:
df_excel_sample = df_excel.iloc[:100]

In [76]:
df_excel_sample.shape

(100, 14)

b. print the number of rows of your original dataframe

In [16]:
len(df_excel)

7049

c. print the first 5 column names

In [77]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

d. print the column names that have a data type of object

In [81]:
df_excel.columns[df_excel.dtypes == object]

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

e. compute the range for each of the numeric variables.

In [88]:
stats = df_excel[['monthly_charges', 'total_charges']].describe().T
stats['range'] = stats['max'] - stats['min']
stats

,count,mean,std,min,25%,50%,75%,max,range
monthly_charges,7049.0,64.747014,30.099460,18.25,35.4500,70.35,89.850,118.75,100.5
total_charges,7038.0,2283.043883,2266.521984,18.80,401.5875,1397.10,3793.775,8684.80,8666.0

### 6. Read the data from this google sheet into a dataframe, df_google

In [91]:
df_google = pd.read_csv('https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&gid=341089357')
df_google.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

a. print the first 3 rows

In [89]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

b. print the number of rows and columns

In [67]:
df_google.shape

(891, 12)

c. print the column names

In [68]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

d. print the data type of each column

In [69]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

e. print the summary statistics for each of the numeric variables

In [99]:
df_google[['Age','Fare']].describe().T

      count       mean        std   min      25%      50%   75%       max
Age   714.0  29.699118  14.526497  0.42  20.1250  28.0000  38.0   80.0000
Fare  891.0  32.204208  49.693429  0.00   7.9104  14.4542  31.0  512.3292

f. print the unique values for each of your categorical variables

In [101]:
df_google[['Survived','Pclass','Sex','SibSp','Parch','Embarked']].nunique()

Survived    2
Pclass      3
Sex         2
SibSp       7
Parch       7
Embarked    3
dtype: int64

In [104]:
categorical = ['Survived','Pclass','Sex','Embarked']

for val in categorical:
    print(df_google[val].value_counts())

0    549
1    342
Name: Survived, dtype: int64
3    491
1    216
2    184
Name: Pclass, dtype: int64
male      577
female    314
Name: Sex, dtype: int64
S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [108]:
import acquire

In [109]:
acquire.get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [110]:
acquire.get_iris_data()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
5,1,setosa,5.4,3.9,1.7,0.4
6,1,setosa,4.6,3.4,1.4,0.3
7,1,setosa,5.0,3.4,1.5,0.2
8,1,setosa,4.4,2.9,1.4,0.2
9,1,setosa,4.9,3.1,1.5,0.1
10,1,setosa,5.4,3.7,1.5,0.2
11,1,setosa,4.8,3.4,1.6,0.2
12,1,setosa,4.8,3.0,1.4,0.1
13,1,setosa,4.3,3.0,1.1,0.1
14,1,setosa,5.8,4.0,1.2,0.2
15,1,setosa,5.7,4.4,1.5,0.4
16,1,setosa,5.4,3.9,1.3,0.4
17,1,setosa,5.1,3.5,1.4,0.3
18,1,setosa,5.7,3.8,1.7,0.3
19,1,setosa,5.1,3.8,1.5,0.3
20,1,setosa,5.4,3.4,1.7,0.2
21,1,setosa,5.1,3.7,1.5,0.4
22,1,setosa,4.6,3.6,1.0,0.2
23,1,setosa,5.1,3.3,1.7,0.5
24,1,setosa,4.8,3.4,1.9,0.2
25,1,setosa,5.0,3.0,1.6,0.2
26,1,setosa,5.0,3.4,1.6,0.4
27,1,setosa,5.2,3.5,1.5,0.2
28,1,setosa,5.2,3.4,1.4,0.2
29,1,setosa,4.7,3.2,1.6,0.2
30,1,setosa,4.8,3.1,1.6,0.2
31,1,setosa,5.4,3.4,1.5,0.4
32,1,setosa,5.2,4.1,1.5,0.1
33,1,setosa,5.5,4.2,1.4,0.2
34,1,setosa,4.9,3.1,1.5,0.2
35,1,setosa,5.0,3.2,1.2,0.2
36,1,setosa,5.5,3.5,1.3,0.2
37,1,setosa,4.9,3.6,1.4,0.1
38,1,setosa,4.4,3.0,1.3,0.2
39,1,setosa,5.1,3.4,1.5,0.2
40,1,setosa,5.0,3.5,1.3,0.3
41,1,setosa,4.5,2.3,1.3,0.3
42,1,setosa,4.4,3.2,1.3,0.2
43,1,setosa,5.0,3.5,1.6,0.6
44,1,setosa,5.1,3.8,1.9,0.4
45,1,setosa,4.8,3.0,1.4,0.3
46,1,setosa,5.1,3.8,1.6,0.2
47,1,setosa,4.6,3.2,1.4,0.2
48,1,setosa,5.3,3.7,1.5,0.2
49,1,setosa,5.0,3.3,1.4,0.2
50,2,versicolor,7.0,3.2,4.7,1.4
51,2,versicolor,6.4,3.2,4.5,1.5
52,2,versicolor,6.9,3.1,4.9,1.5
53,2,versicolor,5.5,2.3,4.0,1.3
54,2,versicolor,6.5,2.8,4.6,1.5
55,2,versicolor,5.7,2.8,4.5,1.3
56,2,versicolor,6.3,3.3,4.7,1.6
57,2,versicolor,4.9,2.4,3.3,1.0
58,2,versicolor,6.6,2.9,4.6,1.3
59,2,versicolor,5.2,2.7,3.9,1.4
60,2,versicolor,5.0,2.0,3.5,1.0
61,2,versicolor,5.9,3.0,4.2,1.5
62,2,versicolor,6.0,2.2,4.0,1.0
63,2,versicolor,6.1,2.9,4.7,1.4
64,2,versicolor,5.6,2.9,3.6,1.3
65,2,versicolor,6.7,3.1,4.4,1.4
66,2,versicolor,5.6,3.0,4.5,1.5
67,2,versicolor,5.8,2.7,4.1,1.0
68,2,versicolor,6.2,2.2,4.5,1.5
69,2,versicolor,5.6,2.5,3.9,1.1
70,2,versicolor,5.9,3.2,4.8,1.8
71,2,versicolor,6.1,2.8,4.0,1.3
72,2,versicolor,6.3,2.5,4.9,1.5
73,2,versicolor,6.1,2.8,4.7,1.2
74,2,versicolor,6.4,2.9,4.3,1.3
75,2,versicolor,6.6,3.0,4.4,1.4
76,2,versicolor,6.8,2.8,4.8,1.4
77,2,versicolor,6.7,3.0,5.0,1.7
78,2,versicolor,6.0,2.9,4.5,1.5
79,2,versicolor,5.7,2.6,3.5,1.0
80,2,versicolor,5.5,2.4,3.8,1.1
81,2,versicolor,5.5,2.4,3.7,1.0
82,2,versicolor,5.8,2.7,3.9,1.2
83,2,versicolor,6.0,2.7,5.1,1.6
84,2,versicolor,5.4,3.0,4.5,1.5
85,2,versicolor,6.0,3.4,4.5,1.6
86,2,versicolor,6.7,3.1,4.7,1.5
87,2,versicolor,6.3,2.3,4.4,1.3
88,2,versicolor,5.6,3.0,4.1,1.3
89,2,versicolor,5.5,2.5,4.0,1.3
90,2,versicolor,5.5,2.6,4.4,1.2
91,2,versicolor,6.1,3.0,4.6,1.4
92,2,versicolor,5.8,2.6,4.0,1.2
93,2,versicolor,5.0,2.3,3.3,1.0
94,2,versicolor,5.6,2.7,4.2,1.3
95,2,versicolor,5.7,3.0,4.2,1.2
96,2,versicolor,5.7,2.9,4.2,1.3
97,2,versicolor,6.2,2.9,4.3,1.3
98,2,versicolor,5.1,2.5,3.0,1.1
99,2,versicolor,5.7,2.8,4.1,1.3
100,3,virginica,6.3,3.3,6.0,2.5
101,3,virginica,5.8,2.7,5.1,1.9
102,3,virginica,7.1,3.0,5.9,2.1
103,3,virginica,6.3,2.9,5.6,1.8
104,3,virginica,6.5,3.0,5.8,2.2
105,3,virginica,7.6,3.0,6.6,2.1
106,3,virginica,4.9,2.5,4.5,1.7
107,3,virginica,7.3,2.9,6.3,1.8
108,3,virginica,6.7,2.5,5.8,1.8
109,3,virginica,7.2,3.6,6.1,2.5
110,3,virginica,6.5,3.2,5.1,2.0
111,3,virginica,6.4,2.7,5.3,1.9
112,3,virginica,6.8,3.0,5.5,2.1
113,3,virginica,5.7,2.5,5.0,2.0
114,3,virginica,5.8,2.8,5.1,2.4
115,3,virginica,6.4,3.2,5.3,2.3
116,3,virginica,6.5,3.0,5.5,1.8
117,3,virginica,7.7,3.8,6.7,2.2
118,3,virginica,7.7,2.6,6.9,2.3
119,3,virginica,6.0,2.2,5.0,1.5
120,3,virginica,6.9,3.2,5.7,2.3
121,3,virginica,5.6,2.8,4.9,2.0
122,3,virginica,7.7,2.8,6.7,2.0
123,3,virginica,6.3,2.7,4.9,1.8
124,3,virginica,6.7,3.3,5.7,2.1
125,3,virginica,7.2,3.2,6.0,1.8
126,3,virginica,6.2,2.8,4.8,1.8
127,3,virginica,6.1,3.0,4.9,1.8
128,3,virginica,6.4,2.8,5.6,2.1
129,3,virginica,7.2,3.0,5.8,1.6
130,3,virginica,7.4,2.8,6.1,1.9
131,3,virginica,7.9,3.8,6.4,2.0
132,3,virginica,6.4,2.8,5.6,2.2
133,3,virginica,6.3,2.8,5.1,1.5
134,3,virginica,6.1,2.6,5.6,1.4
135,3,virginica,7.7,3.0,6.1,2.3
136,3,virginica,6.3,3.4,5.6,2.4
137,3,virginica,6.4,3.1,5.5,1.8
138,3,virginica,6.0,3.0,4.8,1.8
139,3,virginica,6.9,3.1,5.4,2.1
140,3,virginica,6.7,3.1,5.6,2.4
141,3,virginica,6.9,3.1,5.1,2.3
142,3,virginica,5.8,2.7,5.1,1.9
143,3,virginica,6.8,3.2,5.9,2.3
144,3,virginica,6.7,3.3,5.7,2.5
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

In [112]:
acquire.get_telco_data()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,3,1,9962-BFPDU,Female,0,Yes,Yes,1,Yes,...,No internet service,No internet service,No internet service,No,20.05,20.05,No,Month-to-month,None,Mailed check
7039,2,3,1,9967-ATRFS,Female,0,No,No,19,Yes,...,No internet service,No internet service,No internet service,No,19.90,367.55,No,Month-to-month,None,Mailed check
7040,4,3,1,9970-QBCDA,Female,0,No,No,6,Yes,...,No internet service,No internet service,No internet service,No,19.70,129.55,No,Month-to-month,None,Credit card (automatic)
7041,2,3,1,9975-SKRNR,Male,0,No,No,1,Yes,...,No internet service,No internet service,No internet service,No,18.90,18.9,No,Month-to-month,None,Mailed check
7042,3,3,1,9986-BONCE,Female,0,No,No,4,Yes,...,No internet service,No internet service,No internet service,No,20.95,85.5,Yes,Month-to-month,None,Bank transfer (automatic)