In [159]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import acquire
import prepare

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns

import graphviz
from graphviz import Graph

## Using titanic data

In [160]:
# pulling in titanic data with function
df = acquire.get_titanic_data()
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [161]:
# splitting titanic data into train, test, validate with function
train, validate, test = prepare.prep_titanic_data(df)
train.shape

(498, 14)

In [107]:
validate.shape

(214, 14)

In [108]:
test.shape

(179, 14)

In [109]:
train.head()

,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,sex_female,sex_male,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
583,0,1,male,36.0,0,0,40.1250,Cherbourg,1,0,1,1,0,0
165,1,3,male,9.0,0,2,20.5250,Southampton,0,0,1,0,0,1
50,0,3,male,7.0,4,1,39.6875,Southampton,0,0,1,0,0,1
259,1,2,female,50.0,0,1,26.0000,Southampton,0,1,0,0,0,1
306,1,1,female,NaN,0,0,110.8833,Cherbourg,1,1,0,1,0,0

In [68]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 583 to 744
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 498 non-null    int64
 1   pclass                   498 non-null    int64
 2   sex                      498 non-null    object
 3   age                      401 non-null    float64
 4   sibsp                    498 non-null    int64
 5   parch                    498 non-null    int64
 6   fare                     498 non-null    float64
 7   embark_town              498 non-null    object
 8   alone                    498 non-null    int64
 9   sex_female               498 non-null    uint8
 10  sex_male                 498 non-null    uint8
 11  embark_town_Cherbourg    498 non-null    uint8
 12  embark_town_Queenstown   498 non-null    uint8
 13  embark_town_Southampton  498 non-null    uint8
dtypes: float64(2), int64(5), object(2), uint8(5)
memory usage: 41.3+ KB

## Exercise 1

What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

In [110]:
train.survived.value_counts()

0    307
1    191
Name: survived, dtype: int64

**Baseline is 0 (did not survive) since that is the most prevalent value**

In [162]:
# creating a baseline column to compare to actual
train['baseline'] = 0
train.head()

,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,sex_female,sex_male,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,baseline
583,0,1,male,36.0,0,0,40.1250,Cherbourg,1,0,1,1,0,0,0
165,1,3,male,9.0,0,2,20.5250,Southampton,0,0,1,0,0,1,0
50,0,3,male,7.0,4,1,39.6875,Southampton,0,0,1,0,0,1,0
259,1,2,female,50.0,0,1,26.0000,Southampton,0,1,0,0,0,1,0
306,1,1,female,NaN,0,0,110.8833,Cherbourg,1,1,0,1,0,0,0

In [163]:
# calculating baseline accuracy
(train.baseline == train.survived).mean()

0.6164658634538153

**Baseline accuracy is 62% so, to add value, a model needs to have greater accuracy**

## Exercise 2 

Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [164]:
# creating x and y version of train where x includes everything but the target variable and y contains only the target variable
x_train = train.drop(columns=['survived', 'baseline', 'sex', 'embark_town', 'sex_female', 'age'])
y_train = train.survived

x_validate = validate.drop(columns=['survived', 'sex', 'embark_town', 'sex_female', 'age'])
y_validate = validate.survived

x_test = test.drop(columns=['survived', 'sex', 'embark_town', 'sex_female', 'age'])
y_test = test.survived

In [145]:
# creating the Decision Tree object with desired hyper-parameters
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [146]:
# fitting the algorithm to the training data
clf = clf.fit(x_train, y_train)

In [139]:
# creating visualization of tree
dot_data = export_graphviz(clf, feature_names= x_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('titanic_decision_tree', view=True)

'titanic_decision_tree.pdf'

In [147]:
# making prediction on observations
y_pred = clf.predict(x_train)
y_pred[0:5]

array([0, 0, 0, 1, 1])

In [148]:
# estimating probability of each species
y_pred_proba = clf.predict_proba(x_train)
y_pred_proba[0:5]

array([[0.69827586, 0.30172414],
       [0.69827586, 0.30172414],
       [0.69827586, 0.30172414],
       [0.07142857, 0.92857143],
       [0.01923077, 0.98076923]])

## Exercise 3. 

Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [149]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
      .format(clf.score(x_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.82

In [120]:
# creating confusion matrix
confusion_matrix(y_train, y_pred)

array([[276,  31],
       [ 57, 134]])

In [121]:
# adding clarity
labels = sorted(y_train.unique())

pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

     0    1
0  276   31
1   57  134

In [122]:
# creating classification report
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.90      0.86       307
           1       0.81      0.70      0.75       191

    accuracy                           0.82       498
   macro avg       0.82      0.80      0.81       498
weighted avg       0.82      0.82      0.82       498

## Exercise 4 

Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [123]:
# confusion matrix with tp (upper left), fp (lower left), tn (lower right), & fn (upper right)
pd.DataFrame(confusion_matrix(y_train, y_pred, normalize='true'), index=labels, columns=labels)

          0         1
0  0.899023  0.100977
1  0.298429  0.701571

In [124]:
# classification report with accuracy, precision, recall, f1-score, & support
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.90      0.86       307
           1       0.81      0.70      0.75       191

    accuracy                           0.82       498
   macro avg       0.82      0.80      0.81       498
weighted avg       0.82      0.82      0.82       498

## Exercise 5, Step II

Run through steps 2-4 using a different max_depth value.

In [152]:
# creating the Decision Tree object with desired hyper-parameters
clf = DecisionTreeClassifier(max_depth=5, random_state=123)

In [153]:
# fitting the algorithm to the training data
clf = clf.fit(x_train, y_train)

In [127]:
# creating visualization of tree
dot_data = export_graphviz(clf, feature_names= x_train.columns, rounded=True, filled=True, out_file=None)
graph = graphviz.Source(dot_data) 

graph.render('titanic_decision_tree', view=True)

'titanic_decision_tree.pdf'

In [154]:
# making prediction on observations
y_pred = clf.predict(x_train)
y_pred[0:5]

array([0, 0, 0, 1, 1])

In [155]:
# estimating probability of each species
y_pred_proba = clf.predict_proba(x_train)
y_pred_proba[0:5]

array([[0.62025316, 0.37974684],
       [0.82608696, 0.17391304],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.        , 1.        ]])

## Exercise 5, Step III

Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [156]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
      .format(clf.score(x_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.84

In [131]:
# creating confusion matrix
confusion_matrix(y_train, y_pred)

array([[303,   4],
       [ 77, 114]])

In [132]:
# adding clarity
labels = sorted(y_train.unique())

pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

     0    1
0  303    4
1   77  114

In [133]:
# creating classification report
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.99      0.88       307
           1       0.97      0.60      0.74       191

    accuracy                           0.84       498
   macro avg       0.88      0.79      0.81       498
weighted avg       0.86      0.84      0.83       498

## Exercise 5, Step IV 

Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [134]:
# confusion matrix with tp (upper left), fp (lower left), tn (lower right), & fn (upper right)
pd.DataFrame(confusion_matrix(y_train, y_pred, normalize='true'), index=labels, columns=labels)

          0         1
0  0.986971  0.013029
1  0.403141  0.596859

In [135]:
# classification report with accuracy, precision, recall, f1-score, & support
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.99      0.88       307
           1       0.97      0.60      0.74       191

    accuracy                           0.84       498
   macro avg       0.88      0.79      0.81       498
weighted avg       0.86      0.84      0.83       498

## Exercise 6

Which model performs better on your in-sample data?

**Model with max_depth_value of 5 performed slightly better on in-sample data (0.84 accuracy) than that with max_depth_value of 3 (0.82 accuracy)**

## Exercise 7, 

Which model performs best on your out-of-sample data, the validate set?

In [157]:
# running this after creating and running Decision Tree classifier with desired hyper-parameters and fitting to the data
# first with max_depth set to 3, then with max_depth set to 5
print('Accuracy of Decision Tree classifier on validate set: {:.2f}'
     .format(clf.score(x_validate, y_validate)))

Accuracy of Decision Tree classifier on validate set: 0.75

**Model with max_depth set to 3 performs better on the validate set with accuracy of 0.79**

**Model with max_depth set to 5 has accuracy of 0.75**

# Random Forest Exercises

### Exercise 1

Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

In [167]:
# creating random forest object with desired hyper-parameters
rf = RandomForestClassifier(max_depth=10, 
                            random_state=369, min_samples_leaf=1)
rf

RandomForestClassifier(max_depth=10, random_state=369)

In [169]:
# fitting model to train set
rf.fit(x_train, y_train)

RandomForestClassifier(max_depth=10, random_state=369)

In [170]:
# evaluating importance of each feature, higher score = more importance 
print(rf.feature_importances_)

[0.10270126 0.06734553 0.04841256 0.36655503 0.02072547 0.344281
 0.01592391 0.01512833 0.0189269 ]

In [172]:
x_train.head()

,pclass,sibsp,parch,fare,alone,sex_male,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
583,1,0,0,40.1250,1,1,1,0,0
165,3,0,2,20.5250,0,1,0,0,1
50,3,4,1,39.6875,0,1,0,0,1
259,2,0,1,26.0000,0,0,0,0,1
306,1,0,0,110.8833,1,0,1,0,0

In [173]:
# classifying each observation as survived or not survived
y_pred = rf.predict(x_train)
y_pred

array([0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0])

In [175]:
# estimating the probability of those classifications
y_pred_proba = rf.predict_proba(x_train)
y_pred_proba

array([[0.93859479, 0.06140521],
       [0.31441667, 0.68558333],
       [0.98071429, 0.01928571],
       [0.02132669, 0.97867331],
       [0.        , 1.        ],
       [0.88322304, 0.11677696],
       [0.66706873, 0.33293127],
       [0.88659879, 0.11340121],
       [0.88001493, 0.11998507],
       [0.99      , 0.01      ],
       [0.63955631, 0.36044369],
       [0.53950668, 0.46049332],
       [0.00820764, 0.99179236],
       [0.62189224, 0.37810776],
       [0.83655461, 0.16344539],
       [0.93728698, 0.06271302],
       [0.93728698, 0.06271302],
       [0.00589262, 0.99410738],
       [0.80129522, 0.19870478],
       [0.919     , 0.081     ],
       [0.09020581, 0.90979419],
       [0.9823167 , 0.0176833 ],
       [0.00277778, 0.99722222],
       [0.00277778, 0.99722222],
       [0.53950668, 0.46049332],
       [0.97021473, 0.02978527],
       [0.0125    , 0.9875    ],
       [0.64      , 0.36      ],
       [0.8268039 , 0.1731961 ],
       [0.80129522, 0.19870478],
       [0.99044494, 0.00955506],
       [0.88659879, 0.11340121],
       [0.97021473, 0.02978527],
       [0.04826087, 0.95173913],
       [0.04949892, 0.95050108],
       [0.88659879, 0.11340121],
       [0.80129522, 0.19870478],
       [0.00496305, 0.99503695],
       [0.9257402 , 0.0742598 ],
       [0.07073145, 0.92926855],
       [0.99044494, 0.00955506],
       [0.99044494, 0.00955506],
       [0.88103448, 0.11896552],
       [0.0425    , 0.9575    ],
       [0.76104011, 0.23895989],
       [0.95691111, 0.04308889],
       [0.88001493, 0.11998507],
       [0.9090503 , 0.0909497 ],
       [0.12098111, 0.87901889],
       [0.94017924, 0.05982076],
       [0.89547275, 0.10452725],
       [0.88659879, 0.11340121],
       [0.005     , 0.995     ],
       [0.05      , 0.95      ],
       [0.83802242, 0.16197758],
       [0.03333333, 0.96666667],
       [0.99044494, 0.00955506],
       [0.13233417, 0.86766583],
       [0.40899089, 0.59100911],
       [0.78383156, 0.21616844],
       [0.81      , 0.19      ],
       [0.9861942 , 0.0138058 ],
       [0.99279019, 0.00720981],
       [0.80129522, 0.19870478],
       [0.9823167 , 0.0176833 ],
       [0.88001493, 0.11998507],
       [0.77974965, 0.22025035],
       [0.7199153 , 0.2800847 ],
       [0.3062069 , 0.6937931 ],
       [0.00660364, 0.99339636],
       [0.9562069 , 0.0437931 ],
       [0.97021473, 0.02978527],
       [0.00660364, 0.99339636],
       [0.4122001 , 0.5877999 ],
       [0.88001493, 0.11998507],
       [0.967406  , 0.032594  ],
       [0.98953733, 0.01046267],
       [0.80129522, 0.19870478],
       [0.9860667 , 0.0139333 ],
       [0.36904762, 0.63095238],
       [0.7331567 , 0.2668433 ],
       [0.01      , 0.99      ],
       [0.93728698, 0.06271302],
       [0.80129522, 0.19870478],
       [0.83802242, 0.16197758],
       [0.9       , 0.1       ],
       [0.        , 1.        ],
       [0.30455631, 0.69544369],
       [0.25128914, 0.74871086],
       [0.80129522, 0.19870478],
       [0.84765022, 0.15234978],
       [0.88001493, 0.11998507],
       [0.07007362, 0.92992638],
       [0.03277778, 0.96722222],
       [0.80129522, 0.19870478],
       [0.98953733, 0.01046267],
       [0.        , 1.        ],
       [0.73432908, 0.26567092],
       [0.93859479, 0.06140521],
       [0.05      , 0.95      ],
       [0.98953733, 0.01046267],
       [0.90049206, 0.09950794],
       [0.06739812, 0.93260188],
       [0.84765022, 0.15234978],
       [0.61166667, 0.38833333],
       [0.        , 1.        ],
       [0.9443544 , 0.0556456 ],
       [0.13830159, 0.86169841],
       [0.98953733, 0.01046267],
       [0.97021473, 0.02978527],
       [0.09334802, 0.90665198],
       [0.09334802, 0.90665198],
       [0.8857395 , 0.1142605 ],
       [0.95891156, 0.04108844],
       [0.40899089, 0.59100911],
       [0.02132669, 0.97867331],
       [0.98404762, 0.01595238],
       [0.97021473, 0.02978527],
       [0.00277778, 0.99722222],
       [0.00103448, 0.99896552],
       [0.79978914, 0.20021086],
       [0.98469924, 0.01530076],
       [0.95232323, 0.04767677],
       [0.79770115, 0.20229885],
       [0.37935336, 0.62064664],
       [0.0580303 , 0.9419697 ],
       [0.00103448, 0.99896552],
       [0.74866667, 0.25133333],
       [0.4475266 , 0.5524734 ],
       [0.853     , 0.147     ],
       [0.00589262, 0.99410738],
       [0.87365056, 0.12634944],
       [0.99      , 0.01      ],
       [0.04285714, 0.95714286],
       [0.81998697, 0.18001303],
       [0.98953733, 0.01046267],
       [0.97974091, 0.02025909],
       [0.93728698, 0.06271302],
       [0.75708333, 0.24291667],
       [0.6738254 , 0.3261746 ],
       [0.00103448, 0.99896552],
       [0.95444444, 0.04555556],
       [0.83957137, 0.16042863],
       [0.88001493, 0.11998507],
       [0.31268345, 0.68731655],
       [0.53950668, 0.46049332],
       [0.        , 1.        ],
       [0.01890476, 0.98109524],
       [0.01      , 0.99      ],
       [0.06      , 0.94      ],
       [0.9861942 , 0.0138058 ],
       [0.00142857, 0.99857143],
       [0.2       , 0.8       ],
       [0.87443381, 0.12556619],
       [0.74565696, 0.25434304],
       [0.04826087, 0.95173913],
       [0.98953733, 0.01046267],
       [0.92102924, 0.07897076],
       [0.05845238, 0.94154762],
       [0.6180526 , 0.3819474 ],
       [0.87859479, 0.12140521],
       [0.13233417, 0.86766583],
       [0.9755075 , 0.0244925 ],
       [0.19022962, 0.80977038],
       [0.93810022, 0.06189978],
       [0.98789379, 0.01210621],
       [0.90404762, 0.09595238],
       [0.97021473, 0.02978527],
       [0.9755075 , 0.0244925 ],
       [0.93728698, 0.06271302],
       [0.96737459, 0.03262541],
       [0.        , 1.        ],
       [0.05845238, 0.94154762],
       [0.90771101, 0.09228899],
       [0.56343045, 0.43656955],
       [0.8168039 , 0.1831961 ],
       [0.07353448, 0.92646552],
       [0.77974965, 0.22025035],
       [0.95036111, 0.04963889],
       [0.53950668, 0.46049332],
       [0.87443381, 0.12556619],
       [0.97021473, 0.02978527],
       [0.93728698, 0.06271302],
       [0.        , 1.        ],
       [0.97021473, 0.02978527],
       [0.04399255, 0.95600745],
       [0.9755075 , 0.0244925 ],
       [0.00103448, 0.99896552],
       [0.83346405, 0.16653595],
       [0.43532251, 0.56467749],
       [0.9438062 , 0.0561938 ],
       [0.        , 1.        ],
       [0.93728698, 0.06271302],
       [0.80129522, 0.19870478],
       [0.01277778, 0.98722222],
       [0.12098111, 0.87901889],
       [0.73488095, 0.26511905],
       [0.36786103, 0.63213897],
       [0.9823167 , 0.0176833 ],
       [0.87443381, 0.12556619],
       [0.98404762, 0.01595238],
       [0.00277778, 0.99722222],
       [0.01      , 0.99      ],
       [0.99564912, 0.00435088],
       [0.85587356, 0.14412644],
       [0.93728698, 0.06271302],
       [0.91623222, 0.08376778],
       [0.92277778, 0.07722222],
       [0.93728698, 0.06271302],
       [0.1425    , 0.8575    ],
       [0.86857251, 0.13142749],
       [0.97021473, 0.02978527],
       [0.77974965, 0.22025035],
       [0.25974152, 0.74025848],
       [0.00277778, 0.99722222],
       [0.09334802, 0.90665198],
       [0.9823167 , 0.0176833 ],
       [0.88001493, 0.11998507],
       [0.0580303 , 0.9419697 ],
       [0.99044494, 0.00955506],
       [0.79066667, 0.20933333],
       [0.93728698, 0.06271302],
       [0.97021473, 0.02978527],
       [0.00277778, 0.99722222],
       [0.99240758, 0.00759242],
       [0.84765022, 0.15234978],
       [0.91232323, 0.08767677],
       [0.6180526 , 0.3819474 ],
       [0.87443381, 0.12556619],
       [0.04826087, 0.95173913],
       [0.89771694, 0.10228306],
       [0.83802242, 0.16197758],
       [0.97021473, 0.02978527],
       [0.94662102, 0.05337898],
       [0.87443381, 0.12556619],
       [0.00103448, 0.99896552],
       [0.19290696, 0.80709304],
       [0.99279019, 0.00720981],
       [0.97626087, 0.02373913],
       [0.988     , 0.012     ],
       [0.93728698, 0.06271302],
       [0.90857251, 0.09142749],
       [0.00660364, 0.99339636],
       [0.80129522, 0.19870478],
       [0.05571429, 0.94428571],
       [0.98469924, 0.01530076],
       [0.        , 1.        ],
       [0.98469924, 0.01530076],
       [0.60114202, 0.39885798],
       [0.01103448, 0.98896552],
       [0.9096753 , 0.0903247 ],
       [0.7331567 , 0.2668433 ],
       [0.93728698, 0.06271302],
       [0.13509804, 0.86490196],
       [0.79458333, 0.20541667],
       [0.16033333, 0.83966667],
       [0.5854085 , 0.4145915 ],
       [0.01      , 0.99      ],
       [0.        , 1.        ],
       [0.29369917, 0.70630083],
       [0.80129522, 0.19870478],
       [0.98953733, 0.01046267],
       [0.12098111, 0.87901889],
       [0.01      , 0.99      ],
       [0.93728698, 0.06271302],
       [0.97626087, 0.02373913],
       [0.815     , 0.185     ],
       [0.39213881, 0.60786119],
       [0.98953733, 0.01046267],
       [0.82319697, 0.17680303],
       [0.88287821, 0.11712179],
       [0.8278254 , 0.1721746 ],
       [0.97021473, 0.02978527],
       [0.        , 1.        ],
       [0.99      , 0.01      ],
       [0.95036111, 0.04963889],
       [0.98953733, 0.01046267],
       [0.93728698, 0.06271302],
       [0.93728698, 0.06271302],
       [0.93728698, 0.06271302],
       [0.93728698, 0.06271302],
       [0.        , 1.        ],
       [0.12098111, 0.87901889],
       [0.12098111, 0.87901889],
       [0.95164556, 0.04835444],
       [0.967406  , 0.032594  ],
       [0.00660364, 0.99339636],
       [0.56343045, 0.43656955],
       [0.9       , 0.1       ],
       [0.97021473, 0.02978527],
       [0.80631928, 0.19368072],
       [0.9755075 , 0.0244925 ],
       [0.93728698, 0.06271302],
       [0.97021473, 0.02978527],
       [0.92277778, 0.07722222],
       [0.30184289, 0.69815711],
       [0.94477417, 0.05522583],
       [0.92102924, 0.07897076],
       [0.99      , 0.01      ],
       [0.8585517 , 0.1414483 ],
       [0.84765022, 0.15234978],
       [0.99044494, 0.00955506],
       [0.93810022, 0.06189978],
       [0.12098111, 0.87901889],
       [0.93728698, 0.06271302],
       [0.53950668, 0.46049332],
       [0.07666667, 0.92333333],
       [0.97021473, 0.02978527],
       [0.80129522, 0.19870478],
       [0.82866667, 0.17133333],
       [0.80129522, 0.19870478],
       [0.9309293 , 0.0690707 ],
       [0.88001493, 0.11998507],
       [0.04399255, 0.95600745],
       [0.99      , 0.01      ],
       [0.91466667, 0.08533333],
       [0.97021473, 0.02978527],
       [0.        , 1.        ],
       [0.41635525, 0.58364475],
       [0.99279019, 0.00720981],
       [0.948     , 0.052     ],
       [0.87443381, 0.12556619],
       [0.00103448, 0.99896552],
       [0.65002192, 0.34997808],
       [0.77974965, 0.22025035],
       [0.05131016, 0.94868984],
       [0.43536844, 0.56463156],
       [0.7331567 , 0.2668433 ],
       [0.53950668, 0.46049332],
       [0.13233417, 0.86766583],
       [0.9860667 , 0.0139333 ],
       [0.13830159, 0.86169841],
       [0.12098111, 0.87901889],
       [0.14154545, 0.85845455],
       [0.05131016, 0.94868984],
       [0.00589262, 0.99410738],
       [0.94371429, 0.05628571],
       [0.32333333, 0.67666667],
       [0.88659879, 0.11340121],
       [0.88001493, 0.11998507],
       [0.88659879, 0.11340121],
       [0.03633333, 0.96366667],
       [0.12098111, 0.87901889],
       [0.30184289, 0.69815711],
       [0.99564912, 0.00435088],
       [0.06908371, 0.93091629],
       [0.967406  , 0.032594  ],
       [0.83957137, 0.16042863],
       [0.75087032, 0.24912968],
       [0.53950668, 0.46049332],
       [0.        , 1.        ],
       [0.79956953, 0.20043047],
       [0.7199153 , 0.2800847 ],
       [0.31066667, 0.68933333],
       [0.02103448, 0.97896552],
       [0.00277778, 0.99722222],
       [0.        , 1.        ],
       [0.9742069 , 0.0257931 ],
       [0.91466667, 0.08533333],
       [0.325     , 0.675     ],
       [0.86582251, 0.13417749],
       [0.31566667, 0.68433333],
       [0.02519048, 0.97480952],
       [0.80332143, 0.19667857],
       [0.97974091, 0.02025909],
       [0.68154545, 0.31845455],
       [0.80129522, 0.19870478],
       [0.7199153 , 0.2800847 ],
       [0.98071429, 0.01928571],
       [0.7820351 , 0.2179649 ],
       [0.80129522, 0.19870478],
       [0.93746636, 0.06253364],
       [0.26762879, 0.73237121],
       [0.89126679, 0.10873321],
       [0.18585606, 0.81414394],
       [0.93115584, 0.06884416],
       [0.        , 1.        ],
       [0.5980303 , 0.4019697 ],
       [0.        , 1.        ],
       [0.34166667, 0.65833333],
       [0.24346234, 0.75653766],
       [0.02499552, 0.97500448],
       [0.00660364, 0.99339636],
       [0.90001698, 0.09998302],
       [0.80954545, 0.19045455],
       [0.03468303, 0.96531697],
       [0.77974965, 0.22025035],
       [0.41146212, 0.58853788],
       [0.832     , 0.168     ],
       [0.88659879, 0.11340121],
       [0.77974965, 0.22025035],
       [0.80129522, 0.19870478],
       [0.7331567 , 0.2668433 ],
       [0.13233417, 0.86766583],
       [0.13154545, 0.86845455],
       [0.93115584, 0.06884416],
       [0.02103448, 0.97896552],
       [0.99044494, 0.00955506],
       [0.77974965, 0.22025035],
       [0.75472358, 0.24527642],
       [0.99044494, 0.00955506],
       [0.01552381, 0.98447619],
       [0.96434591, 0.03565409],
       [0.95232323, 0.04767677],
       [0.88659879, 0.11340121],
       [0.87443381, 0.12556619],
       [0.96737459, 0.03262541],
       [0.68963881, 0.31036119],
       [0.97626087, 0.02373913],
       [0.46824152, 0.53175848],
       [0.53950668, 0.46049332],
       [0.98659091, 0.01340909],
       [0.96184591, 0.03815409],
       [0.98659091, 0.01340909],
       [0.        , 1.        ],
       [0.13233417, 0.86766583],
       [0.        , 1.        ],
       [0.41146212, 0.58853788],
       [0.        , 1.        ],
       [0.85309715, 0.14690285],
       [0.42124214, 0.57875786],
       [0.98953733, 0.01046267],
       [0.9861942 , 0.0138058 ],
       [0.00820764, 0.99179236],
       [0.97184591, 0.02815409],
       [0.01890476, 0.98109524],
       [0.79716775, 0.20283225],
       [0.00103448, 0.99896552],
       [0.78383156, 0.21616844],
       [0.86533333, 0.13466667],
       [0.97021473, 0.02978527],
       [0.8762069 , 0.1237931 ],
       [0.95891156, 0.04108844],
       [0.88659879, 0.11340121],
       [0.21909524, 0.78090476],
       [0.80129522, 0.19870478],
       [0.61738095, 0.38261905],
       [0.84765022, 0.15234978],
       [0.05      , 0.95      ],
       [0.93728698, 0.06271302],
       [0.97021473, 0.02978527],
       [0.91815584, 0.08184416],
       [0.87365056, 0.12634944],
       [0.80129522, 0.19870478],
       [0.98953733, 0.01046267],
       [0.21745625, 0.78254375],
       [0.94371429, 0.05628571],
       [0.98404762, 0.01595238],
       [0.32417271, 0.67582729],
       [0.9974176 , 0.0025824 ],
       [0.05131016, 0.94868984],
       [0.01      , 0.99      ],
       [0.98469924, 0.01530076],
       [0.9755075 , 0.0244925 ],
       [0.06908371, 0.93091629],
       [0.53950668, 0.46049332],
       [0.9562069 , 0.0437931 ],
       [0.92286844, 0.07713156],
       [0.99206046, 0.00793954],
       [0.80129522, 0.19870478],
       [0.88846154, 0.11153846],
       [0.9823167 , 0.0176833 ],
       [0.13233417, 0.86766583],
       [0.73549206, 0.26450794],
       [0.80309867, 0.19690133],
       [0.        , 1.        ],
       [0.3588254 , 0.6411746 ],
       [0.94662102, 0.05337898],
       [0.3       , 0.7       ],
       [0.78383156, 0.21616844],
       [0.13233417, 0.86766583],
       [0.73766156, 0.26233844],
       [0.86309715, 0.13690285],
       [0.83802242, 0.16197758],
       [0.93882905, 0.06117095],
       [0.77974965, 0.22025035],
       [0.05196501, 0.94803499],
       [0.98071429, 0.01928571],
       [0.91286844, 0.08713156],
       [0.97021473, 0.02978527],
       [0.31115873, 0.68884127],
       [0.01246305, 0.98753695],
       [0.12654545, 0.87345455],
       [0.03333333, 0.96666667],
       [0.93728698, 0.06271302],
       [0.42304762, 0.57695238],
       [0.78383156, 0.21616844],
       [0.06841667, 0.93158333],
       [0.93728698, 0.06271302],
       [0.46824152, 0.53175848],
       [0.04151067, 0.95848933],
       [0.96737459, 0.03262541],
       [0.03333333, 0.96666667],
       [0.97021473, 0.02978527],
       [0.87365056, 0.12634944],
       [0.93728698, 0.06271302],
       [0.948     , 0.052     ],
       [0.87365056, 0.12634944]])

## Exercise 2

Evaluate your results using the model score, confusion matrix, and classification report.

In [177]:
# calculating accuracy of the model
print('Accuracy of random forest classifier on training set: {:.2f}'
     .format(rf.score(x_train, y_train)))

Accuracy of random forest classifier on training set: 0.94

In [178]:
# creating confusion matrix
print(confusion_matrix(y_train, y_pred))

[[302   5]
 [ 23 168]]

In [180]:
# creating classification report
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.98      0.96       307
           1       0.97      0.88      0.92       191

    accuracy                           0.94       498
   macro avg       0.95      0.93      0.94       498
weighted avg       0.95      0.94      0.94       498

## Exercise 3

Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

**In this case, positive = 0 (did not survive), negative = 1 (survived)**

In [192]:
tp = 302
tn = 168
fp = 23
fn = 5
all_4 = tp + tn + fp + fn

accuracy = (tp + tn) / all_4
true_positive_rate = tp / (tp + fn)
false_positive_rate = fp / (fp + tn)
true_negative_rate = tn / (tn + fp)
false_negative_rate = fn /(fn + tp)
precision = tp / (tp + fp)
recall = tp / (tp + fn)
f1_score = 2 * ((precision * recall) / (precision + recall))
support = (y_train == 0).sum(), (y_train == 1).sum()

In [198]:
print(f'accuracy: {accuracy}')
print(f'true_positive_rate: {true_positive_rate}')
print(f'false_positive_rate: {false_positive_rate}')
print(f'true_negative_rate: {true_negative_rate}')
print(f'false_negative_rate: {false_negative_rate}')
print(f'precision: {precision}')
print(f'recall: {recall}')
print(f'f1_score: {f1_score}')
print(f'support: {support}')

accuracy: 0.9437751004016064
true_positive_rate: 0.9837133550488599
false_positive_rate: 0.12041884816753927
true_negative_rate: 0.8795811518324608
false_negative_rate: 0.016286644951140065
precision: 0.9292307692307692
recall: 0.9837133550488599
f1_score: 0.9556962025316454
support: (307, 191)

## Exercise 4

Run through steps increasing your min_samples_leaf and decreasing your max_depth.